---
---
@charset "utf-8";

$header-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$base-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$base-font-color:  #454545;
$base-font-size:   14px;

$base-font-weight: 300;
$base-line-height: 1.5;
$small-font-size:  $base-font-size * 0.895;
$large-font-size:  $base-font-size * 1.40;
$spacing-unit:     30px;

$background-color: #FFF;
$header-color:     #FAFAFA;
$brand-color:      #00B2EE;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    725px;
$on-palm:          700px;
$on-laptop:        700px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "base",
        "layout",
        "syntax-highlighting"
;
