{{ partial "header.html" . }}
    <article>
      {{ if eq .RelPermalink "/now/" }}
        <div class="page-head">
          <h1>{{ .Title }}</h1>
          {{ if not .Lastmod.IsZero }}<p class="updated">last updated <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2 January 2006" }}</time></p>{{ end }}
        </div>
      {{ else }}
        <h1>{{ .Title }}</h1>
        {{ if or (not .Date.IsZero) .Params.translations }}
        <p class="meta">
          {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>{{ end }}
          {{ with .Params.translations }}
            <span class="translations">also in
              {{- range . }} <a href="{{ .url }}" hreflang="{{ .lang }}">{{ .lang }}</a>{{ end }}
            </span>
          {{ end }}
        </p>
        {{ end }}
      {{ end }}
      {{ .Content }}
    </article>
{{ partial "footer.html" . }}
